@property --color {
  initial-value: #fff;
  inherits: false;
  syntax: "<color>";
}

@property --font {
  initial-value: 20px;
  inherits: false;
  syntax: "<font-size>";
}

@property --fsize {
  syntax: "<font-size>";
  initial-value: 20px;
  inherits: false;
}

:root {
  --margin: 22px;
  --bgOne: #131313;
  --radius: 10px;
  --bgTwo: #202020;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

#text {
  font-size: 1.3rem;
  padding: 5px;
  margin: auto;
}

div {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

button {
  padding: 10px;
  width: 120px;
  border: none;
  background-color: var(--bgOne);
  color: var(--color);
  border-radius: var(--radius);
  margin-top: 120px;
}

button::placeholder {
  font-size: var(--fsize);
}

button:nth-child(2):is(:hover) {
  background-color: var(--bgOne);
  color: var(--color);
}

button:nth-child(3) {
  background-color: var(--bgOne);
  color: var(--color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  & h2 {
    padding: var(--margin);
    background-color: #232323;
    content-visibility: auto;
    contain-intrinsic-size: auto 500px;
    color: var(--color);
    font-size: var(--font);
    text-transform: uppercase;
  }
}

@media screen and (max-width: 500px) {
  button {
    display: flex;
    width: 70vw;
  }

  .container {
    display: grid;
  }

  button:is(:hover) {
    background-color: var(--bgTwo);
  }
}

@media screen and (max-width: 501px) {
  button {
    display: flex;
    width: 70vw;
  }

  .container {
    display: grid;
  }

  button:is(:hover) {
    background-color: var(--bgTwo);
  }
}

@media screen and (max-width: 600px) {
  button {
    display: flex;
    width: 70vw;
  }

  .container {
    display: grid;
  }

  button:is(:hover) {
    background-color: var(--bgTwo);
  }
}

@media screen and (max-width: 768px) {
  button {
    display: flex;
    width: 70vw;
  }

  .container {
    display: grid;
  }

  button:is(:hover) {
    background-color: var(--bgTwo);
  }
}

@media screen and (max-width: 1100px) {
  button {
    display: flex;
    width: 70vw;
  }

  .container {
    display: grid;
  }

  button:is(:hover) {
    background-color: var(--bgTwo);
  }
}

#pTag {
  padding: 10px;
  background-color: #101010;
  color: white;
  text-align: center;
  font-weight: 700;
}
